body{
   lbackground-image: url("image25.jpg");
   background-color: rgb(232,223,214);
   nopacity: 0.8;
}

#conteneurPage{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    jbackground: linear-gradient(to top, white, 5%, white);
}
#logo {
   display: flex;
   height: 300px;
   justify-content: center;
   lmargin-top: 20px;

}

#igmLogo{
   width: 400px;
   height: 300px;
 }
#bienvenue{
   display: flex;
   font-size: 2.5em;
   justify-content: center;
   margin-top: 20px;
   font-weight: bold;          
}
#diapo{
   width: 801px;
   margin: auto;
   position: relative;
   margin-top: 30px;

}

#conteneur{
  width: 800px;
  height: 480px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid rgb(207,218,162);
}
#conteneur img{
   width: 100%;
   height: 100%;
   lborder-radius: 50px;   
}

#gauche{
   position: absolute;
   top: 200px;
   z-index: 10;
   width: 35px;
   height: 60px;
   border-radius: 0px 50px 50px 0px; 
   font-size: 30px;
   color: gray;
   border: 1px solid gray;
   background-color: rgb(232,223,214);
   border: none;
}

#droite{
   position: absolute;
   right: 0;
   top: 200px;
   z-index: 10;
   width: 35px;
   height: 60px;
   border-radius: 50px 0px 0px 50px;
   font-size: 30px;
   color: gray;
   border: 1px solid gray;
   background-color: rgb(232,223,214);
   border: none;
}

#playpause{
        display: flex;
        margin: auto;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 35px;
        padding-top: 10px;
}

#stop{
   width: 150px;
   height: 35px;
   border-radius: 45px 0px 0px 45px;
   color: gray;
   background-color: rgb(232,223,214);
}

#play{
   width: 150px;
   height: 35px;
   border-radius: 0px 45px 45px 0px;
   color: gray;
   background-color: rgb(232,223,214);
}

#conteneurMap{
        position: relative;
}

#mapdiv{
   width: 750px;
   height: 550px;
   
}

#fondMap{
display: none;
position: absolute;
background-color: black;
width: 750px;
height: 550px;
top: -1px;
z-index: 500;
opacity: 0.4;
}

#mapPanneau{
   position: relative;
   padding-left: 100px;
}
#conteneurPaneaux{
   position: absolute;
   width: 400px;
   height: 500px;
   background-color: rgb(232,223,214);
   top: 30px;
   right: 150px;
   nmargin-right: 150px;
}

#stationSelectionnee{  
   height: 150px;
   background-color: rgb(216,206,197);
   padding: 20px 20px 0px 20px;
   font-size: 1.7em;
   text-align: center;
}

#conteneurForm{
   position: relative;
   width: 480px
}

form{
   margin-top: 40px;
   width: 400px;
}

input{
   display: flex;
   width: 300px;
   text-align: center;
   height: 40px;
   border-radius: 40px;
   border: none;
   margin: 0 auto;
}

input:hover {
background-color:  rgb(207,218,162);
}

#reserver{
   position: absolute;
   justify-content: center; 
   left: 50px;
   width: 300px;
   height: 40px;
   border-radius: 40px;
   background-color: rgb(207,218,162);
   border: none
}

form button{
   width: 200px;
   height: 40px;
   border-radius: 40px;
   lmargin: 0px 0% 20px 25%;
   border: none;
   margin: 0 auto;

}

#reservation{
   display: block;
   width: 300px;
   height: 150px;
   margin: 0 auto;
   margin-bottom: 100px;
}

#canvas-sign{
   border: 2px solid rgb(207,218,162);
   background-color: rgb(232,223,214); 
}

#conteneurButtonsCanvas{
   display: flex;
   justify-content: center;
}

.canvasBoutons{
   width: 90px;
   height: 30px;
   margin: 5px 3px 20px 3px;
   border-radius: 40px;
   border: none;
   background-color: rgb(207,218,162);

}

#ConteneurCompteur{
   display: block;
   width: 300px;
   height: 250px;
   lborder: 2px solid #feca57;
   margin: 0 auto;
   margin-top: 30px;
   margin-bottom: 50px;
   padding: 20px; 
   background-color: rgb(232,223,214);
   text-align: center;
   border: 2px solid rgb(207,218,162);
}

#timer{
   display: flex;
   width: 80px;
   height: 50px;
   border: 4px solid #badc58;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   color: black;
   font-size: 1.5em;
}

#retact{
   width: 150px;
   height: 40px;
   border-radius: 40px;
   background-color: rgb(207,218,162);
   border: none;
   margin: 0 auto;
   margin-top: 10px;

}
